.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  padding: 0.5rem 1rem;
  z-index: 50;
}
.navbar__logo h2 {
  font-size: 1.4rem;
  cursor: pointer;
}
.navbar__links {
  display: flex;
  align-items: center;
}
* {
  margin: 0px;
}
